html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}

#container {
    display: -webkit-flex;
    -webkit-align-items: center;
    width: 100%;
    height: 100%
}

#canvas-sunrise {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#canvas-layout {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#canvas-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.info-icon {
    position: absolute;
    width: 73px;
    height: 73px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
}

.info-text {
    position: absolute;
    width: 66px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    display: none;
    z-index: 3;
}

/*-------BATTERY-------*/

#body-battery {
	z-index: 5;
}

#battery-icon {
    top: 122px;
    left: 208px;
    z-index: 0;
}

#battery-text {
    top: 146px;
    left: 211px;
    z-index: 0;
}

#battery-icon-e {display: block}
#battery-icon-0 {display: none}
#battery-icon-1 {display: none}
#battery-icon-2 {display: none}
#battery-icon-3 {display: none}
#battery-icon-4 {display: none}
#battery-icon-c {display: none}

/*-------AIR-------*/

#body-air {
	z-index: 5;
}

#air-icon {
    top: 122px;
    left: 80px;
    z-index: 0;
}

#air-text {
    top: 146px;
    left: 83px;
    z-index: 0;
}
